<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div>
  <table border="1">
    <tr>
      <th>name</th>
      <th>lastname</th>
    </tr>
    <tr th:each="user:${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastName}"></td>
        <td>
            <form action="#" th:action="@{/user-edit/{id} (id=${user.id})}" method="get">

                <input type="submit" value="Edit user">
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/user-delete/{id} (id=${user.id})}" th:method="delete">

                <input type="submit" value="Delete user">
            </form>
        </td>
    </tr>
  </table>
  <p><a href="/user-save">Add user</a></p>
</div>


</body>
</html>