<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form action="#" th:action="@{/user-edit/{id}(id=${user.id})}" th:object="${user}" th:method="patch">
    <input type="hidden" th:field="*{id}" th:value="id"  id = "id" placeholder="ID">
    <label for="firstName">Name</label>
    <input type="text" th:field="*{name}" id = "firstName" placeholder="name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id = "lastName" placeholder="lastName">
    <input type="submit" value="Edit user">
</form>
</body>
</html>